<div class="row animated fadeIn">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formaC" class="form p-t-20">
                    <h4 class="card-title">Perfil del Usuario</h4>
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <div class="input-group">
                            <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de usuario" [value]="usuario.nombre" required>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="usuario.role === 'USER_ROLE'">
                        <label>Cedula</label>
                        <div class="input-group">
                            <input formControlName="cedula" name="cedula" class="form-control" type="number" placeholder="Cedula" [value]="usuario.cedula" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Correo</label>
                            <div class="input-group">
                                <input formControlName="email" name="email" type="email" class="form-control" placeholder="Correo" [value]="usuario.email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="usuario.role === 'USER_ROLE'">
                        <label>Telefono</label>
                        <div class="input-group">
                            <input formControlName="telefono" name="telefono" type="text" class="form-control" placeholder="Telefono" [value]="usuario.telefono" required>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="usuario.role === 'USER_ROLE'">
                        <label>Direccion</label>
                        <div class="input-group">
                            <input formControlName="direccion" name="direccion" type="text" class="form-control" placeholder="Direccion" [value]="usuario.direccion" required>
                        </div>
                    </div>
                    <div class="form-group " *ngIf="usuario.role === 'USER_ROLE'">
                        <div class="col-xs-12">
                            <label>Fecha Naciemiento</label>
                            <div class="input-group">
                                <input formControlName="fechaNacimiento" name="fechaNacimiento" type="date" class="form-control" placeholder="dd/mm/aaaa" [value]="usuario.fechaNacimiento">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="usuario.role === 'USER_ROLE'">
                        <label>RH</label>
                        <div class="input-group">
                            <input formControlName="rh" name="rh" type="text" class="form-control" placeholder="RH" [value]="usuario.rh" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <div class="input-group">
                            <input formControlName="password" name="password" class="form-control" type="password" placeholder="Nueva contraseña">
                        </div>
                    </div>

                    <div class="form-group " *ngIf="usuario.role === 'USER_ROLE'">
                        <label>Contacto Emergencia</label>
                        <div class="input-group">
                            <input formControlName="nombreContacto" name="nombreContacto" type="text" class="form-control" placeholder="Nombre de contacto" [value]="usuario.nombreContacto" required>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="usuario.role === 'USER_ROLE'">
                        <label>Telefono Contacto Emergencia</label>
                        <div class="input-group">
                            <input formControlName="telefonoContacto" name="telefonoContacto" type="text" class="form-control" placeholder="Telefono de contacto" [value]="usuario.telefonoContacto" required>
                        </div>
                    </div>
                    <button (click)="guardarPerfil(usuario)" type="submit" class="btn btn-dark waves-effect waves-light m-r-10">
                      Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6" *ngIf="usuario.role === 'USER_ROLE'">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Benchmarks</h4>
                <h4 class="card-title">Pronto podras llevar aqui tus RMs y benchmarks...</h4>
            </div>
        </div>
    </div>

</div>