<div class="fondo-negro animated fadeIn" [ngClass]="_modalService.oculto">
    <div class="modal" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Clase</h5>
                    <button (click)="_modalService.ocultarModal()" type="button" class="close" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form ngNativeValidate class="form p-t-20" action="index.html">
                        <div class="form-group">
                            <label>Descripcion</label>
                            <div class="input-group">
                                <label>{{_modalService.clase.descripcion}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Coach</label>
                            <div class="input-group">
                                <label>{{_modalService.clase.coach}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Cupo</label>
                            <div class="input-group">
                                <label>{{_modalService.clase.cupo}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Wod</label>
                            <div class="input-group">
                                <textarea class="form-control" rows="5" [value]="_modalService.clase.wod" disabled="true"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button (click)="_modalService.ocultarModal()" type="button" class="btn btn-dark">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>