<div class="fondo-negro animated fadeIn" [ngClass]="_modalService.oculto">
    <div class="modal fade show" style="display: block" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar Usuario</h5>
                    <button (click)="_modalService.ocultarModal()" type="button" class="close" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">
                    <form ngNativeValidate [formGroup]="formaC" class="form p-t-20">
                        <div class="form-group">
                            <label for="exampleInputuname">Nombre de usuario</label>
                            <div class="input-group">
                                <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de usuario" [value]="_modalService.usuario.nombre" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Cedula</label>
                            <div class="input-group">
                                <input formControlName="cedula" name="cedula" class="form-control" type="number" required placeholder="Cedula" [value]="_modalService.usuario.cedula">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <label for="exampleInputEmail1">Correo</label>
                                <div class="input-group">
                                    <input formControlName="email" name="email" type="email" class="form-control" placeholder="Correo" [value]="_modalService.usuario.email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Telefono</label>
                            <div class="input-group">
                                <input formControlName="telefono" name="telefono" type="text" class="form-control" placeholder="Telefono" [value]="_modalService.usuario.telefono" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Direccion</label>
                            <div class="input-group">
                                <input formControlName="direccion" name="direccion" type="text" class="form-control" placeholder="Direccion" [value]="_modalService.usuario.direccion" required>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <label>Fecha Naciemiento</label>
                                <div class="input-group">
                                    <input formControlName="fechaNacimiento" name="fechaNacimiento" type="date" class="form-control" placeholder="dd/mm/aaaa" [value]="_modalService.usuario.fechaNacimiento">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">RH</label>
                            <div class="input-group">
                                <input formControlName="rh" name="rh" type="text" class="form-control" placeholder="RH" required [value]="_modalService.usuario.rh">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="pwd1">Plan</label>
                            <div class="input-group">
                                <select formControlName="planC" name="planC" class="form-control custom-select" [value]="_modalService.usuario.plan._id">
                                    <option *ngFor="let plan of planes" [value]="plan._id">
                                        {{plan.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="pwd1">Contacto Emergencia</label>
                            <div class="input-group">
                                <input formControlName="nombreContacto" name="nombreContacto" type="text" class="form-control" placeholder="Nombre de contacto" required [value]="_modalService.usuario.nombreContacto">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="pwd1">Telefono Contacto Emergencia</label>
                            <div class="input-group">
                                <input formControlName="telefonoContacto" name="telefonoContacto" type="text" class="form-control" placeholder="Telefono de contacto" required [value]="_modalService.usuario.telefonoContacto">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group checkbox checkbox-primary pull-left p-t-0">
                                <input formControlName="descuento" name="descuento" id="checkbox-descuento-modal" type="checkbox" class="filled-in chk-col-light-blue" [checked]="_modalService.usuario.descuento" (ngModelChange)="actualizarDescuento($event)">
                                <label for="checkbox-descuento-modal"> Descuento </label>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="_modalService.usuario.descuento">
                            <label for="pwd1">Porcentaje</label>
                            <div class="input-group">
                                <input formControlName="porcentajeDescuento" name="porcentajeDescuento" type="number" class="form-control" placeholder="Porcentaje del descuento" [value]="_modalService.usuario.porcentajeDescuento">
                            </div>
                        </div>
                        <div class="form-group" *ngIf="_modalService.usuario.descuento">
                            <label for="pwd1">Valor Total Plan</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Valor total del plan" [value]="_modalService.usuario.totalValorPlan" disabled>
                            </div>
                        </div>

                        <div class="form-group" align="center">
                            <label for="pwd1">Fotografia</label>
                            <div>
                                <img *ngIf="!imagenTemp" [src]="_modalService.usuario.img | imagen" class="w150">
                                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                                <div class="form-group">
                                    <input (change)="seleccionImagen($event.target.files[0])" type="file">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button (click)="actualizarUsuario()" type="button" class="btn btn-dark">Guardar Cambios</button>
                    <button (click)="_modalService.ocultarModal()" type="button" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>