/* You can add global styles to this file, and also import other style files */

#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

@media all and (min-width: 768px) {
    tr {
        td {
            vertical-align: middle !important;
        }
        span {
            &:not([class]) {
                padding: 1rem 1rem;
            }
        }
    }
}