<div>
    <h2>Entrenadores</h2>
    <div class="row animated fadeIn">
        <div class="col-md-6  col-lg-6 col-xlg-6">
            <div class="card">
                <div class="card-body">
                    <div div class="row">
                        <div>
                            <a>
                                <img src="../../../assets/images/entrenadores/Camila.jpeg" class="img-rounded w200Sh img-responsive">
                            </a>
                        </div>
                        <br>
                        <div class="text-center text-justify">
                            <h3 class="box-title m-b-0"><b>Camila López</b></h3>
                            <h5><b>Deportista Elite</b></h5>
                            <h6>Southfit: 2015</h6>
                            <h6>Wodfest: 2014-15-16</h6>
                            <h6>Reto Horda: 2016</h6>
                            <h6>Fitgames: 2015</h6>
                            <h6>Regionales: 2012-13-15-16</h6>
                            <h6>Wodapalooza: 2016-17-18-19</h6>
                            <h6>Reto Fest: 2015-17</h6>
                            <h6>Fittest in Colombia: 2003-15-16-17-18</h6>
                            <h6>Super Humana: 2017-18</h6>
                            <h4><b>HEAD COACH & OWNER<br>Bengala Fit Club</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xlg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <a>
                                <img src="../../../assets/images/entrenadores/Juliana.jpeg" class="img-rounded w200 img-responsive">
                            </a>
                        </div>
                        <div class="text-center text-justify">
                            <h3 class="box-title m-b-0"><b>Juliana Páez</b></h3>
                            <h6><b>Profesional en Cultura Física y Deporte <br> Universidad Santo Tomas</b></h6>
                            <h6>Esp. Ejercicio Físico y salud<br>Universidad del Rosario Bogotá D.C</h6>
                            <h6>+6 años de experiencia como Head Coach de<br>Corssfit y Entrenamiento Funcional</h6>
                            <h6>Triatleta Amateur Fiisher Ironman 70.3 Cartagena<br>2018</h6>
                            <h4><b>HEAD COACH & OWNER<br>Invincible Program</b></h4>
                            <h4><b>HEAD COACH & OWNER<br>Bengala Fit Club</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="col-md-6  col-lg-6 col-xlg-6">
            <div class="card">
                <div class="card-body">
                    <div div class="row">
                        <div>
                            <a>
                                <img src="../../../assets/images/entrenadores/Doyler.jpeg" class="img-rounded w200Sh img-responsive">
                            </a>
                        </div>
                        <br>
                        <div class="text-center text-justify">
                            <h3 class="box-title m-b-0"><b>Doyler Sánchez</b></h3>
                            <h5><b>Levantador Olímpico Proesional</b></h5>
                            <h6>Técnico en Recreacion y Deportes</h6>
                            <h6>Entrenador wightlifting Cat. Menores<br>2012 al 2016</h6>
                            <h6>Campeon Centro americano y del caribe Veracruz<br>2014</h6>
                            <h6>Juegos Suramericanos Medellin<br>2010</h6>
                            <h6>Juegos Panamericanos Guadalajara<br>2011</h6>
                            <h6>Seleccion Colombia Juegos olimpicos Londes<br>2012</h6>
                            <h4><b>Coach Crossfit & Weightlifting<br>Bengala Fit Club</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xlg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <a>
                                <img src="../../../assets/images/entrenadores/Daniela.jpeg" class="img-rounded w200 img-responsive">
                            </a>
                        </div>
                        <div class="text-center text-justify">
                            <h3 class="box-title m-b-0"><b>Daniela Sánchez</b></h3>
                            <h5><b>Estudiante de 5to semestre de Entranmiento Deportivo<br>Universidad del Area Andina</b></h5>
                            <h6>Alta intensidad Ascun 2019</h6>
                            <h6>Weightlifting Envion Ascun 2019</h6>
                            <h6>Amante de la Bici</h6>
                            <h6>Atleta Invencible Program</h6>
                            <h4><b>Assistant Coach<br>Bengala Fit Club</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Noticias y Eventos</h2>
    <div class="row animated fadeIn">
        <div class="col-md-6  col-lg-6 col-xlg-6">
            <div class="card">
                <div class="card-body">
                    <div div class="row">
                        <div>
                            <h3>Noticias</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xlg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <h3>Eventos</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>